<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <!--Set DB By META-INF/context.xml-->
    <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/MySQLDB"/>

    <!--SqlSessionFactory-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean"
          id="sqlSessionFactory"
          p:configLocation="WEB-INF/mybatis-config.xml"
          p:mapperLocations="classpath:ems/map/*.xml"
          p:dataSource-ref="dataSource"/>
    <!--SqlSessionTemplate-->
    <bean class="org.mybatis.spring.SqlSessionTemplate"
          id="sqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>
</beans>
